In [6]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\lenovo\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pymysql

In [8]:
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',db='sakila')

In [9]:
cur=conn.cursor()
cur.execute("show databases")
for i in cur:
    print(i)
print(cur)

('classicmodels',)
('information_schema',)
('mavenmovies',)
('moviedb',)
('mysql',)
('performance_schema',)
('rdbms',)
('sai_list',)
('sakila',)
('saradhi',)
('sys',)
('test',)
('world',)
<pymysql.cursors.Cursor object at 0x00000170FC966C10>

In [12]:
#import pymysql
#conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba')
#cur=conn.cursor()
#cur.execute("create database saradhi")
#conn.close()

In [ ]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database="saradhi")
cur=conn.cursor()
cur.execute("create table student(rollno int not null primary key,sname varchar(20)not null,branch varchar(10)not null)")
cur.close()

In [ ]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database="saradhi")
cur=conn.cursor()
q="insert into student(rollno,sname,branch)values(%s,%s,%s)"
v=(501,"abhiram","cse")
try:
   cur.execute(q,v)
   conn.commit()
except:
    conn.rollback
    
cur.close()

In [ ]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database="saradhi")
cur=conn.cursor()
q="insert into student(rollno,sname,branch)values(%s,%s,%s)"
v=[(502,"srinidhi","cse"),(503,"anvesh","ece"),(504,"srinish","eee")]
try:
   cur.executemany(q,v)
   conn.commit()
except:
    conn.rollback
    
conn.close()

In [ ]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database="saradhi")
cur=conn.cursor()
q="insert into student(rollno,sname,branch)values(%s,%s,%s)"
v=[(505,"ramesh","cse"),(506,"rajesh","ece")]
try:
   cur.executemany(q,v)
   conn.commit()
except:
    conn.rollback
    
cur.close()

In [13]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database="saradhi")
cur=conn.cursor()
q="alter table student add column section varchar(3)"
cur.execute(q)
    
cur.close()

In [ ]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database="saradhi")
cur=conn.cursor()
cur.execute("alter table student drop  column section ")
conn.comit
cur.close()

In [1]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database="saradhi")
cur=conn.cursor()
q="alter table student add column section varchar(3) default 'A'"
cur.execute(q)
    
cur.close()

In [8]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database="saradhi")
cur=conn.cursor()
q="update  student set branch='ECE' where rollno =502"
cur.execute(q)
conn.commit()
cur.close()

In [9]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database="saradhi")
cur=conn.cursor()
q="update  student set section='C' where rollno =502"
cur.execute(q)
conn.commit()
cur.close()

In [10]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database="saradhi")
cur=conn.cursor()
q="delete from student where section ='c'"
cur.execute(q)
conn.commit()
cur.close()

In [ ]:
import pymysql
conn=pymysql.connect(host='localhost',user='root',password='sys/as sysdba',database='saradhi')
cur=conn.cursor()
q="alter table student drop column section"
cur.execute(q)
conn.commit()
cur.close()